#navbar
{
    width: 200px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0px;
    background-color: $colore_rosa;
    z-index: 2;
    transition: 0.5s;
}

nav 
{
    ul
    {
        li
        {
            list-style: none;
            margin: 50px 20px;

            a
            {
               text-decoration: none;
               color: #fff;
            }
        }
    } 
}

#menu-btn
{
    width: 50px;
    position: fixed;
    right: 65px;
    top: 35px;
    z-index: 2;
    cursor: pointer;
}